/* body {
  margin-top: 90px;
  margin-right: 10px;
  background-image: url('../image/login.jpg') !important;
} */



/* .hero-body{
  margin-top: 30px;
} */


.formGroup{
  max-width: 450px;
 
}
.btn2{
  margin-top: 15px !important;
}

